input.hidden {
  display: none !important;
}
textarea, input, .select { 
  outline: none !important;
}
a {
  color: white;
  &:hover {
    color: white;
  }
}

input.name,
input.tags,
.tagsinput,
input.full,
button.full {
  height: auto;
  width: 100%;
  max-width: 480px;
}

input.name,
.tagsinput {
  border: 2px solid white;  
  &:active,
  &:focus {
    border-color: #1abc9c;
    border-color: white;
  }
}

