doctype html
html
  head
    title= title
    meta(name='viewport',content='initial-scale=1.0, user-scalable=no, minimal-ui')
    link(rel='stylesheet', href='/css/style.css')

  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/common.js')    
    script(type='text/javascript').
      $(function(){
        FastClick.attach(document.body);
        setTimeout(function(){window.scrollTo(0,1)},1000);
      });     
    block extrascripts
