extends layout

block content
  .wrapper
    .pagewidth
      #map 
      form.what-do-you-want
        a#play-all(href="#") PLAY ALL
        input(type='button', onclick='playDummy()', value='init')
        h1 Listen
        h3 I want sounds within a&nbsp;
          select(name='radius')
            option(value='.01') 10 m
            option(value='.1') 100 m
            option(value='.5') 500 m
            option(value='1') 1 km
            option(value='10') 10 km
            option(value='100') 100 km
          |&nbsp; radius with these tags &#8212;
        input.tags(type='text', name='tags')
        input.ladda-button.red.full#filter-me(type='submit', value='Find')
      
      ul#point-listing

block extrascripts
  script(src='/bootstrap/js/bootstrap-select.js')
  script(type='text/javascript').
    context = false;
    $(function(){
    try {
      window.AudioContext = window.AudioContext||window.webkitAudioContext
      context = new AudioContext();
    }
    catch (e) {
    //alert('Web Audio API is not supported in this browser')
    }
    });
  script(src='/js/vendor/soundmanager2.js')
  script(src='/js/classes/InlinePlayer.js')
  script(src='/js/classes/AudioPoint.js')
  script(type='text/javascript').
    soundManager.setup({
      url: '/js/vendor/sm2-lib',
      flashVersion: 9,
      onready: function(){
        $(document).trigger('sm2-ready');
      }
    })
  script(src='/js/vendor/ICanHaz.min.js')
  script(src='/js/vendor/modestmaps.min.js')
  script(src='/js/vendor/d3.v3.min.js')
  script(src='/js/player.js')
