extends layout

block content
  script(src='/js/vendor/ICanHaz.min.js')
  script(id='listing', type='text/html').
    <li>
    <ul>
    <li>{{ name }}</li>
    <li>{{ sound_url }}</li>
    <li>{{ loc.0 }}</li>
    <li>{{ loc.1 }}</li>
    <ul>
    <li>tags:</li>
    {{#tags}}
    <li>{{ . }}</li>
    {{/tags}}
    </ul>
    </ul>
    </li>
  script(src='/js/player.js')
