/* line 1, ../../preprocessors/sass/globals.scss */
input.hidden {
  display: none !important;
}

/* line 4, ../../preprocessors/sass/globals.scss */
textarea, input, .select {
  outline: none !important;
}

/* line 7, ../../preprocessors/sass/globals.scss */
a {
  color: white;
}
/* line 9, ../../preprocessors/sass/globals.scss */
a:hover {
  color: white;
}

/* line 17, ../../preprocessors/sass/globals.scss */
input.name,
input.tags,
.tagsinput,
input.full {
  height: auto;
  width: 100%;
  max-width: 480px;
}

/* line 24, ../../preprocessors/sass/globals.scss */
input.name,
.tagsinput {
  border: 2px solid white;
}
/* line 27, ../../preprocessors/sass/globals.scss */
input.name:active, input.name:focus,
.tagsinput:active,
.tagsinput:focus {
  border-color: #1abc9c;
  border-color: white;
}
